@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/start.css" />

        <div class="h-100">
            <div class="row text-center start-page">
                <div class="col-md-4">
                    <h1 class="display-4 pt-5">Join the <br />revolution!</h1>
                    <p> <a asp-area="Identity" asp-page="/Account/Register">Register</a> right now.
                    </p>
                </div>
            </div>
            </div>

