@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/run.jpg);
    }

</style>

        <div class="">
            <div class="row text-center start-page">
                <div class="col-md-4">
                    <h1 class="display-4 pt-5">Join the revolution!</h1>
                    <p> <a asp-area="Identity" asp-page="/Account/Register">Register</a> right now.
                    </p>
                </div>
            </div>
        </div>
