@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="pt-2">ASP.NET application created by Piwniczaki team during BeHealthy2 hackathon.</p>
<p class="text-right"><i>13-14.04.2019r.</i></p>
