body{
    margin: 0;
}
.container{
    max-width: none;
    margin: 0;
}
main{
    width: 100%;
}
.full-map{
    margin-top: -16px;
    margin-bottom: -16px;
    min-height: calc(100vh - 58px);
}
table{
    overflow-y: scroll;
    margin-bottom: 30px !important;
    background-color: #f8f9fa;
}
footer{
    display: none;
}

nav{
    max-width: 1140px;
    margin: 0 auto;

}
header{
    background-color: #343a40;
}