/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


@font-face
{
    font-family: DancingScript;
    src: local("DancingScript"), url(../fonts/Dancing\ Script.ttf) format("truetype");
}

@font-face
{
    font-family: Baumans;
    src: local("Baumans"), url(../fonts/Baumans-Regular.ttf) format("truetype");
}



a.navbar-brand {
  white-space: normal;
  text-align: center;
  /* word-break: break-all; */
}


/* Sticky footer styles
-------------------------------------------------- */

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: calc(100vh - 60px);
}

body {
  margin-bottom: 60px;
  
}

#map-full{
  background-image: url(../img/Capture.JPG);
  margin-top: -16px;
  margin-bottom: -16px;
  min-height: calc(100vh - 118px);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}



/* Styles */

*{
  box-sizing: border-box; 
}

body{
  min-height: calc(100vh - 60px);
}

footer{
  background-color: #e5e5e5;
  overflow: hidden;
}

.title-font{
  font-family: 'Baumans', sans-serif;
}

.start-page h1{
  font-family: 'DancingScript', sans-serif;
}



.full {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 0;
}

.box{
  height: calc(100vh - 56px);
}
.bg1{
  background-color: rgb(240, 240, 240);
  height: 100%;
  overflow-y: scroll;
}
.bg2{
  background-image: url(./img/Capture.JPG);
}

.bg-start{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-image: url(../img/run.jpg);
}

.start-page {
color: #ffffff ;
text-shadow: 1px 1px 6px #000000;
padding-top: 20vh;
}

.start-box{
  min-height: calc(100vh - 96px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/run.jpg);
}

.start-page a{
color: #ffffff ;
text-decoration: underline;
}


.ul{
  float: right;
}

td p {
  margin-bottom: 0;
}