@model Event

<form asp-action="AddEvent" method="POST">
    <label asp-for="Name">Add new event</label>
    <input asp-for="Name">
    <label asp-for="StartDate">Event data</label>
    <input asp-for="StartDate">
    <button type="submit">Add</button>
</form>