@model EventToDisplayViewModel

@{
    ViewData["Title"] = "Events";
}

<div class="row pt-3">


<div class="col-md-6">
    <!-- @ViewData["Title"] -->
    <h2>Events you created:</h2>

    <ul class="list-group pt-3">
    @foreach (var item in Model.EventsCreated)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center bg-light">
            @item.Name 
            <span class="badge badge-primary badge-pill">data</span>
        </li>
    }
    </ul>
</div>

<div class="col-md-6">
    <!-- @ViewData["Title"] -->
    <h2>Events you joined:</h2>
    <ul class="list-group pt-3">
    @foreach (var item in Model.EventsJoined)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center bg-light">
            @item.Name 
            <span class="badge badge-primary badge-pill">data</span>
        </li>
    }
    </ul>
</div>



</div>