@model Event

<form asp-action="AddEvent" method="POST">
    <label asp-for="Name">Add new event</label>
    <input asp-for="Name">
    <label asp-for="StartDate">Event data</label>
    <input asp-for="StartDate">
    <input asp-for="latitude" id="lat" style="display:none;">
    <input asp-for="longitude" id="lng" style="display:none;">
    <label asp-for="HowManyPeople">How many people</label>
    <input asp-for="HowManyPeople">
    <button type="submit" onclick="addEvent()">Add</button>


    <div style="height:500px;width:100%;" id="map"></div>

<script language="javascript" type="text/javascript" >

        var chuj = ["Gdańsk Aleja Grunwaldzka", "Politechnika Gdańska", "Gdańsk Dworzec Główny"];

        var addedMarkerThisSession = false;

        var lastMarker;

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: { lat: -34.397, lng: 150.644 },
                scrollwheel: true,
                clickable: true
            });
            var geocoder = new google.maps.Geocoder();

            google.maps.event.addListener(map, 'click', function (event) {
                if (addedMarkerThisSession == true){
                    chuj.splice(-1,1);
                    lastMarker.setMap(null);
                }
                chuj.push(event.latLng.lat() + " " + event.latLng.lng());
                geocodeAddress(geocoder, map, chuj[chuj.length-1]);
                addEvent();
                addedMarkerThisSession = true;
            });

            for (var i = 0; i < chuj.length; i++) {
                geocodeAddress(geocoder, map, chuj[i]);

            }
        }

        function geocodeAddress(geocoder, resultsMap, address) {
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    lastMarker = new google.maps.Marker({
                        map: resultsMap,
                        icon: {
                            path: google.maps.SymbolPath.CIRCLE,
                            scale: 7
                        },
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }



                google.maps.event.addListener(lastMarker, 'click', function () {
                    alert("Latitude: " + lastMarker.getPosition().lat() + "Longitude: " + lastMarker.getPosition().lng());
                    //infowindow = new google.maps.InfoWindow({
                    //    content: 'Przykładowy opis znacznika'
                    //});
                    //infowindow.open(map, marker);
                });

            });




        }

            function addEvent() {
                document.getElementById("lat").value = lastMarker.getPosition().lat();
                document.getElementById("lng").value = lastMarker.getPosition().lng();
            }
    </script>
    <script language="javascript" type="text/javascript" async defer 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcVbgOrcixUdvZg0jkiGyGGz8sOYZss6I&callback=initMap">
    </script>
</form>
    