@model EventViewModel

@{
    ViewData["Title"] = "Events";
}

<div>
    <div>@ViewData["Title"]</div>
    <table>
    @foreach (var item in Model.Events)
    {
       <tr>
            <td>
               @item.Name;  
            </td>
            <td>
                @if(item.Status == 1)
                {
                    <a asp-controller="Event" asp-action="ResignEvent" asp-route-id = "@item.Id">resign</a>  
                      
                }else{
                    <a asp-controller="Event" asp-action="JoinEvent" asp-route-id = "@item.Id">Join</a>  
                }   
            </td>
        </tr>
    }
    </table>
</div>
<a asp-area="" asp-controller="Event" asp-action="EventForm">Add event</a>

