@model EventViewModel

@{
    ViewData["Title"] = "Events";
}

<div>
    <div>@ViewData["Title"]</div>
    <table>
    @foreach (var item in Model.Events)
    {
       <tr>
            <td>
               @item.Name;  
            </td>
            <td>
                <a asp-controller="Event" asp-action="JoinEvent" asp-route-joiningEvent = "@item.Id">Join</a>    
            </td>
        </tr>
    }
    </table>
</div>
<div>
    @await Html.PartialAsync("AddEventPartial", new Event())
</div>

