@model EventViewModel

@{
    ViewData["Title"] = "Events";
}

<div>
    <div>@ViewData["Title"]</div>
    <table>
    @foreach (var item in Model.Events)
    {
       <tr>
            <td>
                @item.Name; 
            </td>
        </tr>
    }
    </table>
</div>
<a asp-area="" asp-controller="Event" asp-action="EventForm">Add event</a>

